@model ShortLink.Application.DTOs.Account.ChangePasswordDTO
@{
    ViewData["Title"] = " تغیر رمز عبور";
}
@section scripts{
    <partial name="_ValidationScriptsPartial" />
}


<section class="content-main card-body ">
    <div class="row col-lg-10">
        <div class="col-12  ">
            <div class="content-header">
                <h2 class="content-title">@ViewData["Title"]</h2>
                
            </div>
        </div>

        <form method="post" asp-area="UserPanel" asp-controller="Account" asp-action="ChangePassword">
            <div class="col-12">
            
                <div class="card mb-4 ">
                    <div class="card-body">
                        <div class="mb-4">
                            <label asp-for="OldPassword" for="product_title" class="form-label"></label>
                            <input asp-for="OldPassword"  type="password" placeholder="رمز عبور فعلی را وارد کنید" class="form-control">
                            <span class="text-danger" asp-validation-for="OldPassword"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="Password" for="product_title" class="form-label"></label>
                            <input asp-for="Password"  type="password" placeholder="رمز عبور جدید را وارد کنید" class="form-control">
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>

                        <div class="mb-4">
                            <label asp-for="RePassword" for="product_title" class="form-label"></label>
                            <input asp-for="RePassword"  type="password" placeholder="رمز عبور جدید را دوباره وارد کنید" class="form-control">
                            <span class="text-danger" asp-validation-for="RePassword"></span>
                        </div>
                        <button class="btn btn-md rounded font-sm hover-up w-100">افزودن</button>

                    </div>
                </div>
                <!-- card end// -->
                <!-- card end// -->
                <!-- card end// -->
           
            </div>
           

        </form>
    </div>
</section>