<li class="dropdown nav-item">
    <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/assets/imgs/people/avatar-2.png" alt="User"/></a>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
        <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>حساب کاربری</a>
        <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
        <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
        <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
        <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-danger" asp-controller="Account" asp-action="LogOut"><i class="material-icons md-exit_to_app"></i>Logout</a>
    </div>
</li>